@media only screen and (max-width: 1000px) {
    .line-img {
      width: 90%;
      position: absolute;
      z-index: -1;
      margin-top: -55%;
      height: 35vh;
    }
    
  }
  
  @media only screen and (max-width: 800px) {
    .line-img {
      display: none;
    }
    aside {
      margin-top: 9rem;
    }
    aside img {
      width: 90%;
      height: 60vh;
      margin-top: -5rem;
    }
  }
  
  
  
  @media only screen and (max-width: 450px) {
    header {
      height: 7vh;
      display: grid;
      grid-template-columns: 30% 30% 30%;
      align-items: center;
      text-align: center;
      margin-left: 0.5rem;
    }
    .header-ul {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 60%;
      height: 70vh;
      background-color: rgba(70, 70, 26, 0.714);
      margin-left: 8.2rem;
      margin-top: 5rem;
      
    }
    .header-ul li{
     margin-top: 2rem;
      color: aliceblue;
      z-index: 9;
      cursor: pointer;
      font-size: large;
      font-weight: 700;
      
    }
    .acordion-menu {
      display: block;
      padding-left: 3rem;
      cursor: pointer;
    }
    .line-img {
      display: none;
    }
  
    .image-div img {
      display: none;
      width: 90%;
      height: 60vh;
      margin-top: -5rem;
    }
    aside {
      display: flex;
      flex-direction: column;
      font-size: 0.8em;
    }
    .learn-more img {
      width: 4.3rem;
      height: 5rem;
      margin: 0 auto;
      margin-top: 2rem;
      cursor: pointer;
    }
    .mobile-img {
      display: block;
      width: 100%;
      height: 50vh;
      filter: brightness(0.9) opacity(1);
    }
    .h1-div {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      margin-top: -3rem;
    }
    .around-div{
      background-color: rgba(0, 0, 255, 0.234);
      position: absolute;
      width: 100%;
      height: 100vh;
      z-index: 8;
      margin-top: -203%;
    }
  }
   
